@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../pages/Login/loginScreen.scss";
@import "../layout/NavBar/navBar.scss";
@import "../components/TabsPanel/tabScreen.scss";
@import '../components/SalesRecord/salesRecord.scss';
@import '../pages/UploadFiles/uploadFiles.scss';

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --main-color: #e4eaf0;
  --blue-color: #04335a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
}

.flex-item {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.generalContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.generalLinks {
  font-size: 14px;
  text-decoration: none;
  color: var(--blue-color);
}

.generalTitles {
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-color);
  margin: 1rem 0;
}

.linkUnderline {
  text-decoration: underline;
}

.linkUnderline:hover {
  color: #074b83;
}

.mt-1 {
  margin-top: 0.2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.content-modal {
  flex-wrap: nowrap;
}