header {
    background-color: var(--blue-color);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
    .navbar__pp {
        display: flex;
        align-items: center;
        padding: 0.8rem 0;
    }
}

.container__icon {
    max-width: 60px;
    width: 100%;
    &--color {
        color: white !important;
    }
}

.container__logopp {
    max-width: 40px;
    width: 100%;
    display: flex;
    & > img {
        width: 100%;
        object-fit: cover;
    }
}

.navBar {
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-link {
            color: white;
            text-decoration: none;
            &:hover {
                color: #dddcdc;
            }
        }
        &-user {
            margin-right: 1rem;
            color: white;
            font-weight: 600;
        }
    }
}

.menu {
    &__button {
        background-color: red !important; 
        padding: 0;
        max-width: 35px;
        width: 100%;
        height: 35px;
        margin: 0;
        img {
            width: 100%;
        }  
    }
}
