.css-heg063-MuiTabs-flexContainer {
    max-width: 100% !important;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: center;
}

.generalForm {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


.contTabs {
    max-width: 1000px;
    width: 100%;
    margin: 2rem auto;
}

.descriptionInput {
    font-size: 13px;
    margin-top: 0.4rem;
    color: #a3a3a3;
    margin-bottom: 1rem;
}

.btn-small {
    padding: 0 !important;
    width: 160px;
    height: 35px;
}